transformers~=4.21
bitsandbytes~=0.35
omegaconf~=2.2
pytorch-lightning~=1.8
numpy~=1.21
Pillow~=9.3
tqdm~=4.64
click~=8.1
ftfy~=6.1
accelerate~=0.14
psutil~=5.9
git+https://github.com/CCRcmcpe/diffusers.git