model: null
ldm_config: 'https://github.com/CompVis/stable-diffusion/raw/main/configs/stable-diffusion/v1-inference.yaml'
vae: null
tokenizer: null

output_dir: 'output'
project: 'SCAL-SDT'

batch_size: 1
num_workers: null
seed: null
gradient_checkpointing: false
med_vram: false
xformers: true
clip_stop_at_layer: 1
pad_tokens: true
force_disable_amp: false
optim_target: 'full_unet'

data:
  resolution: 512
  center_crop: false
  concepts: [ ]
  cache: null

custom_embeddings:
  enabled: false
  path: null

uncond:
  # https://openreview.net/pdf?id=lsQCDXjOl3k
  enabled: false
  p: 0.1
  cond: 'zeros'

checkpoint:
  filename: '{epoch}-{train_loss:.2f}'
  auto_insert_metric_name: true
  every_n_epochs: 1

trainer:
  accelerator: 'gpu'
  devices: [ 0 ]
  precision: 16
  move_metrics_to_cpu: true
  log_every_n_steps: 1

prior_preservation:
  enabled: false
  prior_loss_weight: 1.0

aspect_ratio_bucket:
  enabled: false
  c_size: 1.5
  c_dim: 2
  c_div: 8
  max_aspect_error: 0.5
# Manual, not scaled wrt data.resolution
#  manual:
#    base_res: [512, 512]
#    max_size: 393216
#    dim_range: [256, 1024]
#    divisor: 64

ema:
  enabled: false
  decay: 0.995

loggers: { }

optimizer:
  name: torch.optim.AdamW
  params: { }
  lr_scale:
    enabled: true
    method: 'sqrt'
  lr_scheduler:
    name: torch.optim.lr_scheduler.ConstantLR
    params: { }
    warmup:
      enabled: false
      init_lr: 7e-8
      steps: 100
      strategy: 'linear'
